<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
 </head>
 <body>
 <div style="font-size: 50px;">
    <h1>Skills</h1>
    <! - Add content here -->
    <body>test</body>
    <h2>Front-End</h2>
    <body>Django, ReactJS, jQuery, SASS, HTML, CSS, Redux, ReactNative, Vue.js, Codepen, Angular, BootStrap, MaterialUI, Yarn, TailwindCSS, StledComponents</body>
    <h2>Back-End</h2>
    <body>Ruby on Rails, Nodejs, Express.js, Laravel</body>
    <h2>Languages</h2>
    </body>
    Python, C#, TypeScript, JavaScript, Java
 </div>
 </html>