<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
 <style>
   .skill_container {
      font-size: 20px;
   }
   .nav {
      list-style-type: none;
      text-decoration: none;
      padding: auto;
      margin: auto;
      background-color: aqua;
      color: aqua;
      
   }
 </style>
 <nav class="nav">
   <li><a href = "">Home</a></li>
   <li><a href = "projects">Projects</a></li>
   <li><a href = "about">About</a></li>
 </nav>
 </head>
 <body>
   <h1> A software developer with a passion for designing, learning, and problem solving.</h1>
   
   <div class="skill_container">
    <h1>Skills</h1>
    <! - Add content here -->
    <body>test</body>
    <h2>Front-End</h2>
    <body class="front">Django, ReactJS, jQuery, SASS, HTML, CSS, Redux, ReactNative, Vue.js, Codepen, Angular, BootStrap, MaterialUI, Yarn, TailwindCSS, StledComponents</body>
    <h2>Back-End</h2>
    <body>Ruby on Rails, Nodejs, Express.js, Laravel</body>
    <h2>Languages</h2>
    <body>Python, C#, TypeScript, JavaScript, Java</body>
   </body> 
   </div>
 </html>